<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="css/stockManager.css" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>StockManager</title>
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">StockManager</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Página Inicial</a></li>
				<li><a href="list-user">Listar Usuários</a></li>
				<li><a href="new-user">Cadastro de Usuários</a></li>
				<li><a href="list-product">Listar Produtos</a></li>
				<li><a href="new-product">Cadastro de Produtos</a></li>
			</ul>
		</div>
	</nav>
	<div class="center">
		<h3>Cadastro de Usuários</h3>
	</div>
	<form class="container" method="post">
		<div class="row">
			<div class="input-field col s6 offset-s3">
				Nome: <input type="text" value="" name="name">
			</div>

			<div class="input-field col s6 offset-s3">
				Email: <input type="text" value="" name="email">
			</div>
			<div class="input-field col s6 offset-s3">
				Senha: <input type="password" value="" name="password">
			</div>
		</div>
		<div class="center">
			<button class="waves-effect waves-light btn" type="submit">Salvar</button>
		</div>
	</form>
	<div id="space"></div>
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">StockManager</h5>
					<p class="grey-text text-lighten-4">Somos uma empresa
						especializada em gerencimaneto de estoques.</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2021 Copyright todos os direitos reservados. <a
					class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>
	</footer>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>