<!DOCTYPE html>
<html xnlns:th="http://thymeleaf.org/"
	xnlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="css/stockManager.css" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="navBar/navBar.html" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>404</title>
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">StockManager</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Página Inicial</a></li>
				<li><a href="list-user">Listar Usuários</a></li>
				<li><a href="new-user">Cadastro de Usuários</a></li>
				<li><a href="list-product">Listar Produtos</a></li>
				<li><a href="new-product">Cadastro de Produtos</a></li>
			</ul>
		</div>
	</nav>
	<div class="center">
		<h2>Página não encontrada!</h2>
	</div>
	<div id="space"></div>
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">StockManager</h5>
					<p class="grey-text text-lighten-4">Somos uma empresa
						especializada em gerencimaneto de estoques.</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2021 Copyright todos os direitos reservados. <a
					class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>
	</footer>
</body>
</html>